In [1]:
import pandas as pd

In [5]:
x = pd.Series([5,10,15])
x.dtype

dtype('int64')

In [6]:
x = data = {'a' : 0., 'b' : 1., 'c' : 2., 'd': 3.}
y = pd.Series(x)
print(y)

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [7]:
pd.Series(['frank','dee','dennis'])

0     frank
1       dee
2    dennis
dtype: object

In [9]:
y.iloc[2]

np.float64(2.0)

In [10]:
y.iloc[pd.Series([0, 2, 3])]

a    0.0
c    2.0
d    3.0
dtype: float64